body,ol,ul,p,.row {
	margin: 0px;
	padding:0px;
	list-style: none;
	color: #fff;
}
body {
	background: #000;
}
a:hover, a, *:focus {
	outline: none !important;
	text-decoration: none;
	color: inherit;
}
img {
	max-width: 100%;
	display: block;
}